:root {
    --blured: 10px;
    --desplaced: 10px;
    --colored: rgb(255, 208, 0); 
}


body {
    text-align: center;
    background: #193549;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 50px;
  }

  .controls {
    margin-bottom: 50px;
  }

  input {
    width: 100px;
  }