:root {
    --blured: 0px;
    --desplaced: 0px;
    --colored: #ffc600; 
}


body {
    text-align: center;
    background: #193549;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 50px;
  }

  .controls {
    margin-bottom: 50px;
  }

  input {
    width: 100px;
  }

  img{
      margin: 0;
      position: relative;
      top: var(--desplaced);
      left: var(--desplaced);
      filter: blur(var(--blured));
  }


  .img-container {
    background-color: var(--colored);
    margin: 0 auto;  
    border-width: 40px;
    border-style: solid;
    border-color: var(--colored);
    padding: 0;
    height: 500px;
    width: 800px;
    filter: blur(var(--blured));
}